/*-- scss:defaults --*/
$theme: "dark";

// Cores do Portfólio do Pedro
$primary: #00979d;
$body-bg: #0d0f12;
$body-color: #f8fafc;
$link-color: #00979d;
$link-hover-color: lighten(#00979d, 10%);
$border-color: #27272a;

// Fontes do Portfólio
$font-family-sans-serif: "Outfit", sans-serif;
$font-family-monospace: "JetBrains Mono", monospace;

// Customizações de Code Blocks
$code-block-bg: #18181b;
$code-block-border-color: #27272a;
